<div role="dialog" #overlay class="lcg-modal__overlay"
	 aria-labelledby="dialogTitle"
	 aria-describedby="dialogDesc">

	<div #contentRef class="lcg-modal__content">
		<div class="lcg-modal__content--body">
			<div class="lcg-modal__mobileClose">
				<div class="lcg-modal__mobileClose--drag">
				</div>
			</div>

			<div class="lcg-modal__header">
				<div id="dialogTitle" class="lcg-modal__title">{{title}}</div>
				<div class="lcg-modal__header--close" (click)="close()"></div>
			</div>

			<div id="dialogDesc">
				<ng-container #vf></ng-container>
			</div>
		</div>
	</div>

	<div class="lcg-modal__close" (click)="close()"></div>
</div>
